@charset "UTF-8";
@import url(../css/normalize.css);
.icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  fill: #00bfa5;
  width: 25px;
  height: 25px; }
  .icon:hover {
    fill: crimson; }
  .icon:first-child {
    margin-left: 0; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.section {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  max-width: 58.75rem;
  width: 95%;
  min-height: 40.625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.scroll {
  position: fixed;
  top: 6.0625rem;
  right: 3.75rem; }
  .scroll-list {
    position: fixed; }
  .scroll-item {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 15px; }
    .scroll-item_active {
      content: " ";
      background-color: transparent;
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      border: 1px solid white;
      vertical-align: middle;
      text-align: center;
      position: relative;
      -webkit-transform: translate(-32%, -32%);
      -ms-transform: translate(-32%, -32%);
      transform: translate(-32%, -32%); }
  @media screen and (max-width: 768px) {
    .scroll {
      display: none; } }

.order-btn {
  background-color: #e45028;
  min-width: 6.0625rem;
  border-radius: 5px;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 0.625rem;
  color: white;
  text-decoration: none; }
  .order-btn:hover {
    background-color: #c1401e;
    cursor: pointer; }
  @media screen and (max-width: 768px) {
    .order-btn {
      margin-right: 20%; } }

html {
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

body {
  font-size: 0.875rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h4 {
  font-family: Gagalin, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-weight: normal; }

footer {
  position: relative;
  width: 100%; }

.section-title {
  font-family: Gagalin, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .section-title {
      font-size: 3.125rem; } }

.subsection-title {
  font-family: Gagalin, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: white; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.main-section {
  background: url("../img/bg/header-screen.jpg") center center/cover no-repeat;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.main-section__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh; }

.main-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.75rem; }

.main-section__header-logo {
  margin-right: auto; }

@media screen and (max-width: 768px) {
  .main-section__header-menu {
    display: none; } }

.main-section__menu-link {
  display: inline-block;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 0.8125rem; }

.main-section__menu-link:not(:first-child):before {
  content: "•";
  padding-right: 0.8125rem; }

.main-section__link {
  color: #fff;
  text-decoration: none; }

.main-section__button {
  padding-left: 0.1875rem; }

.hamburger {
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block; } }

.hamburger__list {
  position: relative;
  margin: 20% 0%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hamburger__item {
  width: 1.5rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 5px; }

.main-section__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto; }
  @media screen and (max-width: 768px) {
    .main-section__burger {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.main-section__burger-pic {
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .main-section__burger-pic {
      max-width: 90%; } }
  @media screen and (max-width: 480px) {
    .main-section__burger-pic {
      max-width: 90%; } }

.main-section__burger-greetings {
  width: 28.75rem;
  margin-top: 13%; }
  @media screen and (max-width: 768px) {
    .main-section__burger-greetings {
      margin-top: 5%; } }

.main-section__burger-title {
  font-family: Gagalin, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  letter-spacing: -1.3px; }
  @media screen and (max-width: 480px) {
    .main-section__burger-title {
      font-size: 3.9375rem;
      margin-bottom: 0; } }

.main-section__burger-text {
  font-family: Lifehack;
  font-size: 4.0625rem;
  color: #ffffff;
  line-height: .93;
  letter-spacing: -1.4px; }
  @media screen and (max-width: 480px) {
    .main-section__burger-text {
      font-size: 3.375rem; } }

.main-section__arrow {
  text-align: center;
  margin-bottom: 5%; }
  @media screen and (max-width: 480px) {
    .main-section__arrow {
      margin-top: 5%; } }

.main-section__arrow-pic {
  width: 1.875rem;
  height: 1.25rem;
  color: white; }

.about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../img/bg/we-screen_bg.jpg") center center/cover no-repeat;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 10%; }

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2f3234;
  line-height: 0;
  margin-bottom: 0; }
  @media screen and (max-width: 480px) {
    .about__title {
      padding-bottom: 17%; } }

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .about__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 30%;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .about__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      padding-bottom: 5%; } }

@media screen and (max-width: 480px) {
  .about__item--content {
    text-align: left; } }

.about__svg {
  display: inline-block;
  width: 6.0625rem;
  height: 5.5625rem; }
  .about__svg.fresh {
    fill: #e45028; }
  .about__svg.hand {
    fill: #f9b43b; }
  .about__svg.natural {
    fill: #8ac03e; }
  @media screen and (max-width: 480px) {
    .about__svg {
      margin-right: 1.25rem; } }

.about__item--title {
  font-family: Lifehack, cursive;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -.75px;
  color: #2f3234;
  padding: 0 0.625rem;
  margin-bottom: 0; }
  @media screen and (max-width: 480px) {
    .about__item--title {
      padding: 0; } }

.about__item--text {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #2f3234;
  opacity: .8; }

.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(#f9b43b, #eb8c38, #f9b43b);
  background: -o-linear-gradient(#f9b43b, #eb8c38, #f9b43b);
  background: linear-gradient(#f9b43b, #eb8c38, #f9b43b); }

.slider__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 100vw;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .slider__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 4%; } }

.slider__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: 23%;
  left: 14%;
  overflow: hidden;
  height: 29.6875rem; }

.slider__item {
  display: none;
  white-space: normal;
  width: 66.25rem; }

.slider__item--active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.slider__burger {
  margin-top: 3%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__burger {
      width: 90%;
      margin-top: 7%; } }

.slider__content {
  width: 28.75rem;
  color: white;
  padding-left: 11px; }
  @media screen and (max-width: 768px) {
    .slider__content {
      width: 90%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .slider__content {
      width: 100%; } }

.slider__burger--pic {
  width: 28.75rem;
  margin-left: -32px; }
  @media screen and (max-width: 768px) {
    .slider__burger--pic {
      width: 90%;
      margin-left: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .slider__burger--pic {
      width: 100%;
      margin-left: 0; } }

.slider__content--title {
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .slider__content--title {
      font-size: 4.5rem; } }
  @media screen and (max-width: 480px) {
    .slider__content--title {
      font-size: 3.125rem; } }

.slider__container--ingredients {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(228, 80, 40, 0.4);
  border-radius: 5px;
  width: 5.625rem;
  height: 5.625rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__container--ingredients {
      top: 12%;
      left: 19%; } }
  @media screen and (max-width: 480px) {
    .slider__container--ingredients {
      top: 5%;
      left: 5%; } }
  .slider__container--ingredients-pic {
    color: white;
    width: 2.875rem;
    height: 2.75rem;
    margin-bottom: 5px; }
  .slider__container--ingredients-title {
    color: white;
    margin-bottom: 0; }

.slider__container--energy {
  color: white;
  position: absolute;
  top: 83%;
  left: 0%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__container--energy {
      top: 12%;
      left: 73%; } }
  @media screen and (max-width: 480px) {
    .slider__container--energy {
      top: 5%;
      left: 82%; } }
  .slider__container--energy-pic {
    color: white;
    width: 3.75rem;
    height: 3.75rem; }
  .slider__container--energy-title {
    color: white;
    margin-bottom: 0; }

.slider__container--energy-text {
  position: absolute;
  top: 25%;
  left: 25%;
  font-family: Gagalin, sans-serif;
  font-size: 1.25rem; }

@media screen and (max-width: 768px) {
  .slider__content--order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 11%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.slider__content--price {
  font-family: Gagalin, sans-serif;
  font-size: 4.5rem;
  color: #e45028; }
  @media screen and (max-width: 768px) {
    .slider__content--price {
      margin: 0;
      line-height: 1; } }
  .slider__content--price-val {
    font-family: Gagalin, sans-serif;
    font-size: 1.8125rem;
    color: #e45028; }
    @media screen and (max-width: 768px) {
      .slider__content--price-val {
        padding-left: 5px;
        padding-right: 28px; } }

.slider__content--button {
  margin-left: 25px; }
  @media screen and (max-width: 768px) {
    .slider__content--button {
      margin: 0; } }

.slider__arrow-left-pic {
  width: 1.875rem;
  height: 1.25rem;
  color: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 1.5625rem; }
  @media screen and (max-width: 480px) {
    .slider__arrow-left-pic {
      margin-left: 0.625rem; } }

.slider__arrow-right-pic {
  width: 1.875rem;
  height: 1.25rem;
  color: white;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-right: 2.1875rem; }

.team {
  background: url("../img/bg/team_bg.jpg") center center/cover no-repeat; }
  .team__container {
    height: 100%;
    width: 49%;
    background-color: #2f3234;
    opacity: .93;
    position: absolute;
    -webkit-transform: translateX(104%);
    -ms-transform: translateX(104%);
    transform: translateX(104%);
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .team__container {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; } }
  .team__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 17%; }
    @media screen and (max-width: 768px) {
      .team__content {
        margin: 0;
        -ms-flex-line-pack: center;
        align-content: center; } }
  .team__title {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #f9b43b;
    margin-left: 17%;
    margin-top: 16%; }
    @media screen and (max-width: 768px) {
      .team__title {
        margin-top: 30%;
        margin-left: 1.25rem; } }
  .team__accordeon {
    font-size: 14px;
    font-weight: 700;
    color: white;
    max-width: 380px; }
    .team__accordeon--item {
      padding-top: 0; }
    .team__accordeon--name {
      padding-left: 0; }
      @media screen and (max-width: 768px) {
        .team__accordeon--name {
          font-size: 1.5625rem; } }
    .team__accordeon--name:before {
      margin-right: 0.625rem;
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: #f9b43b;
      border-bottom-width: 0; }
      @media screen and (max-width: 768px) {
        .team__accordeon--name:before {
          margin-bottom: 0.25rem; } }
    .team__accordeon .team__accordeon--item-active .team__accordeon--name {
      color: #f9b43b; }
      .team__accordeon .team__accordeon--item-active .team__accordeon--name:before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .team__accordeon .team__accordeon--item-active .team__accordeon--container {
      height: auto; }
    .team__accordeon--container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 1.25rem;
      height: 0;
      overflow: hidden;
      margin-top: -1.125rem;
      margin-bottom: 1.25rem; }
      @media screen and (max-width: 768px) {
        .team__accordeon--container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .team__accordeon--content {
      padding-left: 1.1875rem; }
      @media screen and (max-width: 768px) {
        .team__accordeon--content {
          padding: 0; } }
    .team__accordeon--text {
      font-weight: 400;
      line-height: 1.72;
      padding: 0 3%; }
    .team__accordeon--img {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover; }

.menu {
  background: url("../img/bg/menu_bg.jpg") center center/cover no-repeat;
  overflow: hidden;
  color: white; }
  .menu-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .menu-title {
    color: white;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .menu-accordeon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0; }
    @media screen and (max-width: 768px) {
      .menu-accordeon {
        width: 100%; } }
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .menu-item__content {
      background: rgba(47, 50, 52, 0.93);
      width: 0;
      overflow: hidden; }
  .menu-item__title {
    cursor: pointer; }
    .menu-item__title-name {
      position: relative;
      max-width: 5rem;
      white-space: nowrap;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      padding-left: 28%; }
    .menu-item__title--meat {
      background: url("../img/content/menu-meat-bg.jpg") center center/cover no-repeat;
      max-width: 5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .menu-item__title--veg {
      background: url("../img/content/menu-veg-bg.jpg") center center/cover no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .menu-item__title--diet {
      background: url("../img/content/menu-diet-bg.jpg") center center/cover no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }

.menu-item__text {
  padding: 7% 7%;
  font-weight: 300;
  line-height: 1.7; }

.active {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .active .menu-item__title-name {
    color: #f9b43b; }
  .active .menu-item__content {
    width: auto; }

@media screen and (max-width: 480px) {
  .active-phones {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1; } }

.feeds {
  min-height: 100vh;
  position: relative;
  background-color: #e45028; }

.feeds__container {
  min-height: 40.625rem;
  height: 100vh; }

.feeds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0;
  height: 100%; }

.feeds__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: 50%;
  margin: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .feeds__item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 25%; } }
  .feeds__item--pic {
    width: 100%;
    height: 100%; }
  .feeds__item--ava {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .feeds__item--content {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    max-width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(47, 50, 52, 0.7);
    padding: 12% 6%;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .feeds__item--content:hover {
      opacity: 1; }
    @media screen and (max-width: 768px) {
      .feeds__item--content {
        text-align: center;
        padding: 8% 5%; } }
    @media screen and (max-width: 480px) {
      .feeds__item--content {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 768px) {
    .feeds__item--name {
      margin-bottom: 5%; } }
  @media screen and (max-width: 480px) {
    .feeds__item--name {
      font-size: 1.5rem; } }
  .feeds__item--text {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-top: 1.3125rem;
    margin-bottom: 0.75rem; }
    @media screen and (max-width: 768px) {
      .feeds__item--text {
        margin: 0;
        font-size: 0.8125rem; } }
    @media screen and (max-width: 480px) {
      .feeds__item--text {
        display: none; } }
  .feeds__item--btn {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    text-transform: uppercase;
    background-color: #2f3234;
    min-width: 6.875rem;
    height: 2.1875rem;
    border-radius: 0.3125rem;
    border: none;
    color: white;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .feeds__item--btn:before {
      content: "Подробнее"; }
      @media screen and (max-width: 480px) {
        .feeds__item--btn:before {
          content: "Читать отзыв";
          font-size: 1rem; } }
  .feeds__item--btn:hover {
    background-color: #1f2122; }

.feeds__item--review {
  opacity: 0;
  color: #fff;
  padding-top: 2.8125rem;
  padding-left: 1.25rem;
  padding-right: 1.5625rem; }
  .feeds__item--review:hover {
    opacity: 100;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.feeds-popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(47, 50, 52, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none; }

.feeds-popup__window {
  position: relative;
  width: 28.75rem;
  height: 15.9375rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 3% 5%; }

.feeds-popup__title {
  color: #2f3234; }

.feeds-popup__button {
  width: 2.5rem;
  height: 2.5rem; }

.feeds-popup__button-link {
  width: 1.5625rem;
  height: 1.5625rem;
  background: none;
  border: 0.9375rem solid transparent;
  cursor: pointer;
  margin-right: 2%; }
  .feeds-popup__button-link:before {
    position: absolute;
    content: '';
    width: 1.25rem;
    height: 0.25rem;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #e45028;
    top: 1.875rem;
    right: 1.25rem; }
    @media screen and (max-width: 480px) {
      .feeds-popup__button-link:before {
        right: 0.5rem; } }
  .feeds-popup__button-link:after {
    position: absolute;
    content: '';
    width: 1.25rem;
    height: 0.25rem;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #e45028;
    top: 1.875rem;
    right: 1.25rem; }
    @media screen and (max-width: 480px) {
      .feeds-popup__button-link:after {
        right: 0.5rem; } }

.display-section {
  opacity: 0.98; }

.order {
  background: url("../img/bg/order_bg.jpg") center center/cover no-repeat;
  color: white; }
  .order__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .order__container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .order__title {
    color: #f9b43b;
    text-align: center;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 480px) {
      .order__title {
        font-size: 3.125rem; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%; }
  .form__nameblock {
    width: 50%;
    margin-right: 1.25rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .form__nameblock {
        margin: 0;
        margin-bottom: 2%; } }
    @media screen and (max-width: 480px) {
      .form__nameblock {
        width: 100%; } }
  .form__commentblock {
    width: 50%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 480px) {
      .form__commentblock {
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .form {
      width: 100%; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem; }
  .form__row:last-child {
    margin: 0; }
  .form__row_comment {
    margin-bottom: 0.625rem; }
  .form__row_pay {
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 480px) {
      .form__row_pay {
        text-align: center;
        margin-top: 5%; } }
  @media screen and (max-width: 480px) {
    .form__row_call {
      text-align: center; } }
  .form__row_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.5625rem;
    margin-bottom: 0.3125rem; }
    @media screen and (max-width: 480px) {
      .form__row_btn {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem; }
  .form__block:first-child {
    margin: 0; }

@media screen and (max-width: 480px) {
  .form__block--floor {
    display: none; } }

.form__input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  width: 100%; }
  .form__input_comment {
    resize: none;
    line-height: 1.1; }

.form__radio {
  display: none; }

.form__block_radio {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: white;
  vertical-align: middle;
  color: #e45028;
  position: relative;
  display: inline-block; }

.form__radio:checked + .form__block_radio:before {
  content: "";
  background-color: #e45028;
  display: block;
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  right: 0.3125rem;
  bottom: 0.3125rem;
  border-radius: 50%; }

.form__radio:checked {
  border: 2px solid #e45028; }

.form__checkbox {
  display: none; }

.form__block_checkbox {
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: white;
  vertical-align: middle;
  color: #e45028;
  position: relative;
  display: inline-block; }

.form__checkbox:checked + .form__block_checkbox:before {
  content: "✔";
  font-weight: 700;
  color: #e45028;
  display: block;
  position: absolute;
  top: 0;
  left: 2px;
  right: 0;
  bottom: 0; }

.form__title {
  vertical-align: middle;
  margin-bottom: 0.4375rem;
  margin-left: 0.3125rem; }

.reset-btn {
  background-color: transparent;
  min-width: 6.0625rem;
  border: none;
  font-weight: 300;
  text-align: center;
  padding: 0.625rem;
  color: white;
  text-decoration: none; }
  .reset-btn:checked {
    border: transparent; }

.map {
  position: relative;
  width: 100%;
  height: 650px; }

.footer {
  position: absolute;
  top: 100%;
  width: 100%;
  background: url("../img/bg/footer_bg.jpg") center center/cover no-repeat;
  height: 3.75rem;
  margin-top: -3.75rem;
  z-index: 100; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem;
      margin-top: -7.1875rem; } }

.footer__container {
  min-height: 3.75rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      margin-top: 3%; } }

.contacts {
  width: 60%; }
  @media screen and (max-width: 480px) {
    .contacts {
      width: 100%;
      padding-top: 2%; } }

.social {
  width: 40%;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .social {
      width: 100%;
      text-align: center; } }

.contacts__address {
  color: white;
  font-weight: 300; }

.contacts__tel {
  font-size: 0.875rem;
  font-weight: 700;
  color: #e45028;
  padding-top: 0.3125rem; }

.svg-phone {
  display: inline-block;
  margin-right: 0.625rem;
  fill: #e45028;
  width: 0.75rem;
  height: 0.75rem; }

.svg-phonelink {
  text-decoration: none;
  color: #e45028; }

.social-link {
  margin-left: 1rem; }
  @media screen and (max-width: 480px) {
    .social-link {
      margin: 0.5rem; } }

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: #5a5a5a;
  width: 1.25rem;
  height: 1.25rem; }
  .icon:hover {
    fill: white; }

.hamburger-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2f3234;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none; }

.hamburger-popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-top: 0.75rem;
  padding-left: 0.6875rem; }

.hamburger-popup__logo {
  width: 50%; }

.hamburger-popup__pic {
  max-height: 5.3125rem; }

.hamburger-popup__button {
  width: 2.5rem;
  height: 2.5rem; }

.hamburger-popup__button-link {
  width: 1.5625rem;
  height: 1.5625rem;
  background: none;
  border: 0.8125rem solid transparent;
  cursor: pointer;
  margin-right: 2%; }
  .hamburger-popup__button-link:before {
    position: absolute;
    content: '';
    width: 1.875rem;
    height: 0.3125rem;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: white;
    top: 3.125rem;
    right: 0.875rem; }
    @media screen and (max-width: 480px) {
      .hamburger-popup__button-link:before {
        right: 0.5rem; } }
  .hamburger-popup__button-link:after {
    position: absolute;
    content: '';
    width: 1.875rem;
    height: 0.3125rem;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: white;
    top: 3.125rem;
    right: 0.875rem; }
    @media screen and (max-width: 480px) {
      .hamburger-popup__button-link:after {
        right: 0.5rem; } }

.hamburger-popup__container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hamburger-popup__list {
  text-align: center; }

.hamburger-popup__items {
  margin-bottom: 30%; }
  .hamburger-popup__items:not(:last-child):after {
    position: absolute;
    content: "•";
    font-size: 1.875rem;
    text-align: center;
    padding-right: 0.375rem;
    left: 49%;
    margin-top: 1.875rem;
    color: #f9b43b; }

.hamburger-popup__link {
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white; }

.display-section {
  opacity: 0.98; }

/*# sourceMappingURL=main.css.map */