//config
@import "config/variables";
@import "config/mixin";

//layout
@import "layout/adjustments.scss";
@import "layout/base.scss";
@import "layout/fonts.scss";

//section
@import "section/main-section.scss";
@import "section/about.scss";
@import "section/feeds.scss";
@import "../css/normalize.css";

$grey: #2f3234;

.wrapper{
  //display: flex;
  //
  //justify-content: center;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-section{
  flex-direction: column;
  background: url("../img/bg/header-screen.jpg") no-repeat;
  background-size: cover;
  //min-width: 1100px;
  min-height: 100vh;
  position: relative;
}
.main-section__container{
  min-height: 650px;
}

.main-section__header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding-top: 12px;
  //min-width: 300px;
  //max-width: 1060px;

}
.main-section__header-logo{
  margin-left: 0px;
}

.main-section__menu-list{
  padding-left: 229px;

}

.main-section__menu-link{
  display: inline-block;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  padding-right: 13px;
}

.main-section__menu-link:not(:first-child):before{
  content: "•";
  padding-right: 13px;

}

.main-section__button{
  padding-left: 3px;
}
.main-section__send-button{
  background-color: #e45028;
  //width: 97px;
  //height: 35px;
  border-radius: 5px;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  transition: .5s;
  padding: 10px;
}
.main-section__send-button:hover {
  background-color: #c1401e;
  cursor: pointer;
}



.main-section__points{
  position: fixed;
  top: 97px;
  right: 45px;
}
.main-section__points-list{
  position: fixed;
}

.main-section__points-item{
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 15px;


  &_active{
    content: " ";
    background-color: transparent;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    position: relative;
    transform: translate(-32%, -32%);
  }
}

.main-section__burger{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-section__burger-pic{
  margin: 0;
  padding-left: 18px;
  margin-top: -5px;

}

.main-section__burger-greetings{
  width: 460px;
  padding-top: 81px;
  padding-left: 12px;
}

.main-section__burger-title{
  font-family: Gagalin;
  font-size: 72px;
  color: #f9b43b;
  text-transform: uppercase;
  margin-bottom: 24px;
  letter-spacing: -1.3px;
}

.main-section__burger-text{
  font-family: Lifehack;
  font-size: 65px;
  color: #ffffff;
  line-height: .93;
  letter-spacing: -1.4px;
}

.main-section__arrow{
  display: flex;
  justify-content: center;
  margin-top: 86px;
}

.main-section__arrow-sect{

  content: "";
  border: solid 3px white;
  top: 0;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  border-radius: 5px;
}

.about{
  flex-direction: column;
  background: url("../img/bg/we-screen_bg.jpg");
  background-size: cover;
  //min-width: 1100px;
  min-height: 100vh;
  position: relative;

}

.about__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1060px;
  min-height: 650px;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: translateY(8%);
}

.about__title{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: Gagalin, Helvetica, sans-serif;
  font-size: 72px;
  color: $grey;
  line-height: 0;
}

.about__list{
  display:flex;

  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
margin-top: -10px;
}

.about__item{
  width:30%;
  text-align: center;

}

.about__item--pic{
margin-bottom: 10px;
}

.about__item--title{
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.75px;
  color: $grey;

}

.about__item--text{
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
  opacity: .8;

}

.feeds{
  min-height: 100vh;
}

.feeds__container{
  min-height: 650px;

}

.feeds__list{
  display: flex;
  flex-flow: row wrap;
  margin:0;
  height: 100vh;

}

.feeds__item{
  justify-content: space-between;
  position: relative;
  flex-basis: 25%;
  height: 50%;
  margin:0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
    //&:before{
    //  content: "";
    //  background-color: $grey;
    //  opacity: .7;
    //  width: 100%;
    //  height: 100%;
    //  display: block;
    //}

  }

  &--name{
    font-family: Gagalin;
    font-size: 14px;
    text-transform: uppercase;

  }

  &--text{
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-top: 21px;
    margin-bottom: 12px;

  }

  &--btn{
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    background-color: $grey;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: .5s;
  }

  &--btn:hover{
    background-color: #1f2122;
  }
}

.feeds__item--review{

  opacity: 0;
  color: #fff;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 25px;
  //height: 90vh;
  //background-color: rgba(20,20,20,.7);


  &:hover{
    opacity: 100;
    filter: grayscale(0%);
  }
}