.about{
  flex-direction: column;
  background: url("../img/bg/we-screen_bg.jpg");
  background-size: cover;
  //min-width: 1100px;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

.about__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1060px;
  min-height: 650px;
  margin: auto;
  transform: translateY(10%);
  //padding-top: 20px;
}

.about__title{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: Gagalin, Helvetica, sans-serif;
  font-size: 72px;
  color: $grey;
  line-height: 0;
}

.about__list{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.about__item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width:30%;
  text-align: center;
}

.about__item--pic{
  margin-bottom: 10px;
}

.about__item--title{
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.75px;
  color: $grey;
  padding: 0 10px;
}

.about__item--text{
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
  opacity: .8;
}
