.main-section {
  background: url("../img/bg/header-screen.jpg") center center / cover no-repeat;
  align-items: flex-start;
}

.main-section__container{

}

.main-section__header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: rem(12px);
}

.main-section__header-logo{
  margin-right: auto;
}

.main-section__header-menu{
  @include tablets{
    display: none;
  }

}

.main-section__menu-list{
  //margin-right: 10px;
}

.main-section__menu-link{
  display: inline-block;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: rem(13px);
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: rem(13px);
}

.main-section__menu-link:not(:first-child):before{
  //content: ' ';
  //@include circle(6px, #fff);
  //margin: 0 12px;
  content: "•";
  padding-right: rem(13px);
}

.main-section__link{
  color: #fff;
  text-decoration: none;
}

.main-section__button{
  padding-left: rem(3px);
}

.hamburger{
  display: none;
  @include tablets{
    display: block;
  }
}

.hamburger__list{
  position: relative;
  margin: 20% 0%;
  align-items: center;

}

.hamburger__item{
  width: rem(24px);
  height: rem(4px);
  background-color: white;
  border-radius: 2px;
  margin-bottom: 5px;
}

.main-section__burger{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
  @include tablets{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


}

.main-section__burger-pic{
  max-width: 100%;
  //margin-left: rem(10px);
  @include tablets{
    max-width: 90%;
  }
  @include phones{
    max-width: 90%;
  }

}

.main-section__burger-greetings{
  width: rem(460px);
  //margin-left: rem(10px);
  margin-top: 13%;

  @include tablets{
    margin-top: 5%;
  }

}

.main-section__burger-title{
  font-family: Gagalin, Helvetica, sans-serif;
  font-weight: normal;
  font-size: rem(72px);
  color: #f9b43b;
  text-transform: uppercase;
  margin-bottom: rem(10px);
  letter-spacing: -1.3px;

  @include phones{
    font-size: rem(63px);
    margin-bottom: 0;
  }
}

.main-section__burger-text{
  font-family: Lifehack;
  font-size: rem(65px);
  color: #ffffff;
  line-height: .93;
  letter-spacing: -1.4px;
  @include phones{
    font-size: rem(54px);
  }
}

.main-section__arrow{
  position: absolute;
  display: flex;
  left: 50%;
  top: 90%;
  @include phones{

margin-top: 5%  }

}

//.main-section__arrow-sect{
//  content: "";
//  border: solid 3px white;
//  top: 0;
//  width: 20px;
//  height: 20px;
//  transform: rotate(45deg);
//  border-top: none;
//  border-left: none;
//  border-radius: 5px;
//}

.main-section__arrow-pic{
  width: rem(30px);
  height: rem(20px);
  color: white;
}