.main-section {
  background: url("../img/bg/header-screen.jpg") no-repeat;
  background-size: cover;
  //min-width: 1100px;
  min-height: 100vh;
  position: relative;
}

.main-section__container{
  display: flex;
  flex-direction: column;
  min-height: rem(650px);
  min-width: rem(300px);
  max-width: rem(940px);
  margin: 0 auto;
  box-sizing: border-box;
}

.main-section__header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding-top: rem(12px);
}

.main-section__header-logo{
  margin-right: auto;
}

.main-section__header-menu{
  @include tablets{
    display: none;
  }

}

.main-section__menu-list{
  //margin-right: 10px;
}

.main-section__menu-link{
  display: inline-block;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: rem(13px);
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: rem(13px);
}

.main-section__menu-link:not(:first-child):before{
  //content: ' ';
  //@include circle(6px, #fff);
  //margin: 0 12px;
  content: "•";
  padding-right: rem(13px);
}

.main-section__link{
  color: #fff;
  text-decoration: none;
}

.main-section__button{
  padding-left: rem(3px);
}

.hamburger{
  display: none;
  @include tablets{
    display: block;
  }
}

.hamburger__list{
  position: relative;
  margin: 20% 0%;
  align-items: center;

}

.hamburger__item{
  width: rem(24px);
  height: rem(4px);
  background-color: white;
  border-radius: 2px;
  margin-bottom: 5px;
}

.main-section__burger{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
  @include tablets{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.main-section__burger-pic{
  max-width: 100%;
  margin-left: rem(10px);
}

.main-section__burger-greetings{
  width: rem(460px);
  margin-left: rem(10px);
  margin-top: 13%;
}

.main-section__burger-title{
  font-family: Gagalin, Helvetica, sans-serif;
  font-weight: normal;
  font-size: rem(72px);
  color: #f9b43b;
  text-transform: uppercase;
  margin-bottom: rem(10px);
  letter-spacing: -1.3px;
}

.main-section__burger-text{
  font-family: Lifehack;
  font-size: rem(65px);
  color: #ffffff;
  line-height: .93;
  letter-spacing: -1.4px;
}

.main-section__arrow{
  position: absolute;
  display: flex;
  left: 50%;
  top: 90%;
}

//.main-section__arrow-sect{
//  content: "";
//  border: solid 3px white;
//  top: 0;
//  width: 20px;
//  height: 20px;
//  transform: rotate(45deg);
//  border-top: none;
//  border-left: none;
//  border-radius: 5px;
//}

.main-section__arrow-pic{
  width: rem(30px);
  height: rem(20px);
  color: white;
}