.map{

}

.map__container{
}

.footer{
  position: absolute;
  top: 100%;
  width: 100%;
  background: url("../img/bg/footer_bg.jpg") center center / cover no-repeat;
  height: rem(60px);
  margin-top: rem(-60px);
  z-index: 100;
  @include phones{
    height: rem(115px);
    margin-top: rem(-115px);
  }
}

.footer__container{
  min-height: rem(60px);
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  @include phones{
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
  }
}

.contacts{
  width: 60%;
  @include phones{
    width: 100%;
    padding-top: 2%;
  }
}

.social{
  width: 40%;
  text-align: right;
  @include phones{
    width: 100%;
    text-align: center;
  }
}

.contacts__address{
  color: white;
  font-weight: 300;
}

.contacts__tel{
  font-size: rem(14px);
  font-weight: 700;
  color: $orange;
  padding-top: rem(5px);
}

.svg-phone{
  display: inline-block;
  margin-right: rem(10px);
  fill: $orange;
  width: rem(12px);
  height: rem(12px);
}

.svg-phonelink{
  text-decoration: none;
  color: $orange;
}

.social-link{
  margin-left: rem(16px);
  @include phones{
    margin:  rem(8px);
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;

  fill: $light_grey;
  width: rem(20px);
  height: rem(20px);
  &:hover {
    fill: white;
  }
}