.menu{
  background: url("../img/bg/menu_bg.jpg") center center / cover no-repeat;
  overflow: hidden;
  color: white;

  &-container{
    justify-content: flex-start;
  }

  &-title{
    color: white;
    //padding-top: 9%;
    //padding-left: 1.5%;
    align-items: flex-start;


  }

  &-accordeon{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    top: 0;
    right: 0;
    @include tablets{
      width: 100%;
    }
  }

  &-list{
    display: flex;
  }

  &-item{
    display: flex;
    justify-content: space-between;

    &__content{
      //height: 100%;
      background: rgba($grey, 0.93);
      width:0;
      overflow: hidden;
    }
  }

  &-item__title{
    cursor: pointer;
    transition: 0.7s;

    &-name{
      position: relative;
      max-width: rem(80px);
      white-space: nowrap;
      transform: rotate(270deg);
      padding-left: 28%;
    }

    &--meat{
      background: url("../img/content/menu-meat-bg.jpg") center center / cover no-repeat;
      max-width: rem(80px);
      //height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    &--veg{
      background: url("../img/content/menu-veg-bg.jpg") center center / cover no-repeat;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    &--diet{
      background: url("../img/content/menu-diet-bg.jpg") center center / cover no-repeat;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

.menu-item__text{
  padding: 7% 7%;
  font-weight: 300;
  line-height: 1.7;
}

.menu-item__active{
  transition: 0.7s;
  .menu-item__title-name{
    color: $yell;
  }
  .menu-item__content{
    width: auto;
    //@include phones{
    //  //position: absolute;
    //  width: 100%;
    //}
  }
}

.active-phones{
  @include phones{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
}