.slider{
  background: linear-gradient($yell, $orange_gradient, $yell);

}

.slider__container{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include tablets{
    flex-direction: column;
    margin-top: 4%;
  }
}

.slider__components{
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.slider__list{
  display: inline-flex;
  align-items: center;
  //white-space: nowrap;
  position: relative;
  top: 0;
  left: 0;
  //width: 100%;

}

.slider__item{
  display: inline-flex;
  white-space: normal;
  width: rem(940px);
  height: rem(470px);

}

.slider__item--active{
 overflow: visible;
}

.slider__burger{
  position: relative;
  //margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(450px);

  @include tablets{
    width: 90%;
    margin-top: 7%;
  }
}

.slider__content{
  //max-width: 30%;
  width: rem(500px);
  color: white;
  padding-left: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablets{
    width: 90%;
    text-align: center;
  }

  @include phones{
    width: 100%;

  }
}

.slider__burger--pic{
  max-width: 95%;
  display: flex;
  //margin: 10% 0;
  @include tablets{
    width: 90%;
    margin-left: rem(30px);
  }

  @include phones{
    width: 100%;
    margin-left: 0;
  }

}

.slider__content--title{
  line-height: 1;
  @include tablets{
    font-size: rem(72px);
  }
  @include phones{
    font-size: rem(50px);
  }

}

.slider__container--ingredients{
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba($orange, .4);
  border-radius: 5px;
  width: rem(90px);
  height: rem(90px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
    &:hover{
      background: $orange;
    }

  @include tablets{
    top: 12%;
    left: 19%;
  }

  @include phones{
    top: 5%;
    left: 5%;
  }
    &-pic {

      color: white;
      width: rem(46px);
      height: rem(44px);
      margin-bottom: 5px;
    }
  &-title{
    color: white;
    margin-bottom: 0;
  }
}

.slider__container--ingredients-popup:hover + .slider__container--ingredients-popup{
  display: block;
  transition: 1s;
  opacity: 100;
  cursor: pointer;
}

.slider__container--ingredients-popup{
  position: absolute;
  top: 0;
  left: 90px;
  width: rem(270px);
  height: rem(330px);
  background-color: rgba(white, 0.9);
  border-radius: 5px;
  display: none;
  transition: 0.5s;
}

.ingredients-popup__active{
  display: block;
}

.slider__container--ingredients-list{
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.slider__container--ingredients-item{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: rem(10px);
  font-weight: 500;

}

.ingredients-item__icon{

}

#beef{
  fill: $orange_hover;
}
#buns{
  fill: $yell;
}
#salad{
  fill: $green;
}
#sauce{
  fill: $orange_hover;
}
#cucumber{
  fill: $green;
}
#cheese{
  fill: $yell;
}

.ingredients-item__name{
  padding-top: rem(10px);


}

.ingredients-item__weight{
  padding-top: rem(10px);
  //width: 150px;
}

.slider__container--energy{
  color: white;
  position: absolute;
  top: 83%;
  left: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablets{
    top: 12%;
    left: 73%;
  }

  @include phones{
    top: 5%;
    left: 82%;
  }

  &-pic {
    color: white;
    width: rem(60px);
    height: rem(60px);
  }
  &-title{
    color: white;
    margin-bottom: 0;
  }
}
.slider__container--energy-text{
  position: absolute;
  top: 32%;
  left: 25%;
  font-family: Gagalin, sans-serif;
  font-size: rem(20px);
}

.slider__content--order{


  @include tablets{
    display: flex;
    margin-top: 11%;
    align-items: flex-end;
    justify-content: center;
  }

}
.slider__content--price{
  font-family: Gagalin, sans-serif;
  font-size: rem(72px);
  color: $orange;
  @include tablets{
    margin: 0;
    line-height: 1;
  }
  &-val{
    font-family: Gagalin, sans-serif;
    font-size: rem(29px);
    color: $orange;
    @include tablets{
      padding-left: 5px;
      padding-right: 28px;
    }
  }
}

.slider__content--button{
  margin-left: 25px;
  @include tablets{
    margin: 0;
  }
}

.slider__arrow-left-pic{
  position: absolute;
  left: 3%;
  width: rem(30px);
  height: rem(20px);
  color: white;
  transform: rotate(90deg);
  //margin-left: rem(25px);
  @include phones{
    margin-left: rem(10px);
  }
}

.slider__arrow-right-pic{
  position: absolute;
  left: 97%;
  width: rem(30px);
  height: rem(20px);
  color: white;
  transform: rotate(-90deg);
  //margin-right: rem(35px);
}