.team{
  background: url("../img/bg/team_bg.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;

  &__container{
    min-height: 100%;
    width: 49%;
    background-color: $grey;
    opacity: .93;
    position: absolute;
    transform: translateX(104%);
    //left: 50%;
    box-sizing: border-box;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;

  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 17%;
    //padding: 0 20px;
  }

  &__title{
    //font-family: Gagalin, Helvetica, sans-serif;
    //font-size: rem(72px);
    align-items: flex-start;
    justify-content: flex-start;
    color: $yell;
    margin-left: 17%;
    margin-top: 16%;
  }

  &__accordeon{
    font-size: 14px;
    font-weight: 700;
    color: white;
    max-width: 380px;

    &--item{
      padding-top: 0px;
    }

    &--name{
      padding-left: 0;
    }

    &--name:before{
      margin-right: 10px;
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: $yell;
      border-bottom-width: 0;
    }

    .team__accordeon--item-active{
      .team__accordeon--name{
        color: $yell;
        &:before{
          transform: rotate(180deg);
        }
      }
      .team__accordeon--container{
        height: auto;
      }
    }

    &--container{
      display: flex;
      justify-content: center;
      margin-left: 20px;
      height:0;
      overflow: hidden;
      margin-top: -18px;
      margin-bottom: 20px;
    }


    &--image{
    //width: 35%;
    }

    &--content{

      padding-left: 19px;
    }

    &--text{
      font-weight: 400;
      line-height: 1.72;

    }

    &--img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }


  }
}

