.about{
  flex-direction: column;
  background: url("../img/bg/we-screen_bg.jpg") center center / cover no-repeat;
  justify-content: center;
}

.about__container{
  flex-flow: row wrap;
  padding-top: 10%;
}

.about__title{
  display:flex;
  justify-content: center;
  align-items: center;
  color: $grey;
  line-height: 0;
  margin-bottom: 0;
  @include phones{
    padding-bottom: 17%;

  }
}

.about__list{
  display:flex;
  flex-direction: row;
  justify-content: center;

  @include phones{
    flex-direction: column;
  }
}

.about__item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width:30%;
  text-align: center;
  @include phones{
    flex-direction: row;
    width: 100%;
    padding-bottom: 5%;
  }

}
.about__item--content{
  @include phones{
    text-align: left;
  }
}


.about__svg{
  display: inline-block;
  width: rem(97px);
  height: rem(89px);
  &.fresh{
    fill: $orange;
  }
  &.hand{
    fill: $yell;
  }
  &.natural{
    fill: $green;
  }
  @include phones{
    margin-right: rem(20px);
  }
}

.about__item--title{
  font-family: Lifehack, cursive;
  font-size: rem(24px);
  font-weight: 400;
  letter-spacing: -.75px;
  color: $grey;
  padding: 0 rem(10px);
  margin-bottom: 0;
  @include phones{
    padding: 0;
  }

}

.about__item--text{
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 400;
  font-size: rem(14px);
  line-height: 1.7;
  color: $grey;
  opacity: .8;
}
