.wrapper{
  position: relative;
  width: 100%; //понадобится при реализации адаптива
  //min-width: 940px + 20px;
  //min-height: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent{
  height: 100%;
  min-height: 600px;
  //transform: translateY(-700%);
  transition: 1s;
  will-change: transform; //для улучшения производительности анимации? она будет плавнее. через GPU
}

.section{
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.container{
  max-width: rem(940px);
  width: 95%;
  min-height: rem(650px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  box-sizing: border-box;
}

.scroll{
  position: fixed;
  top: rem(97px);
  right: rem(60px);
  transition: 0.2s;
  @include tablets{
    display: none;
  }
}

.scroll__list{
  position: fixed;
}

.scroll__item{
  @include circle(6px, #fff);
  margin-bottom: 15px;


}

.scroll__item--active{
  content: "";
  background-color: white;
  width: rem(14px);
  height: rem(14px);
  border-radius: 50%;
  border: 1px solid white;
  vertical-align: middle;
  text-align: center;
  position: relative;
  transform: translateX(-30%);

}

.scroll__link{
  border: rem(10px) solid transparent;
  cursor: pointer;
}

.order-btn{
  background-color: #e45028;
  min-width: rem(97px);
  //height: 35px;
  border-radius: 5px;
  border: none;
  font-family: Ubuntu, Arial, sans-serif;
  font-weight: 500;
  font-size: rem(13px);
  text-transform: uppercase;
  text-align: center;
  transition: .5s;
  padding: rem(10px);
  color: white;
  text-decoration: none;

  &:hover{
    background-color: #c1401e;
    cursor: pointer;
  }
  @include tablets{
    margin-right: 20%;
  }

}
